img {
    width: 65%;
    height: auto;
    object-fit: contain;
    margin-left: calc((100% - 65% - 4% ) / 2);
    margin-bottom: 2%;
}

.button-right{
    float: left;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.button-left{
    clear: both;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.textfield{
    clear: both;
    width: 100%;
    max-width: 100%;
    height: 10rem;
    max-height: 10rem;
    margin-left: auto;
    margin-right: auto;
}

.textfieldlabel{
    clear: both;
    text-align: left;
    padding: auto;
    margin: auto;
}

ul {
  float: right;
  margin-top: 0;
  padding-left: 0;
  list-style-type: none;
}

button {
  margin-bottom: 2%;
}
